<section class="content-section" id="skill">
	<div class="container">
		<div class="content-section-heading text-center">
			<h2 class="mb-5">Competences</h2>
		</div>
		<div class="row no-gutters" id='skill-container'>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/ajax.png" alt="">
					<div class="work-text-content">
						<h3>Ajax</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/nodeJS.png" alt="">
					<div class="work-text-content">
						<h3>NodeJS</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/bootstrap.png" alt="">
					<div class="work-text-content">
						<h3>Bootstrap</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/jquery.png" alt="">
					<div class="work-text-content">
						<h3>jQuery</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/html.png" alt="">
					<div class="work-text-content">
						<h3>HTML</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/css.png" alt="">
					<div class="work-text-content">
						<h3>CSS</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/js.png" alt="">
					<div class="work-text-content">
						<h3>JavaScript</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/laravel7.png" alt="">
					<div class="work-text-content">
						<h3>Laravel</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/mysql.png" alt="">
					<div class="work-text-content">
						<h3>MySQL</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/photoshop.png" alt="">
					<div class="work-text-content">
						<h3>Photoshop</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/sass.png" alt="">
					<div class="work-text-content">
						<h3>Sass</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/2000px-Arduino_Logo.png" alt="">
					<div class="work-text-content">
						<h3>Arduino</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/react.png" alt="">
					<div class="work-text-content">
						<h3>React</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="vividworknav">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/skills/symfony.svg" alt="">
					<div class="work-text-content">
						<h3>Symfony</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
