<section class="content-section" id="formations">
	<div class="container">
		<div class="content-section-heading text-center">
			<h2 class="mb-5">Formations</h2>
		</div>
		<div class="row no-gutters" id='formations-container'>
			<div class="col-lg-6">
				<div class="formationsStyle">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/formations/Samsung-Campus.png" alt="">
					<div class="work-text-content">
						<h3>Samsung Campus</h3>
						<p> Formation en Developpement Web en autonomie selon la methodologie Epitech. </p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="formationsStyle">
					<img class="img-fluid" src="http://www.aikoho.fr/storage/formations/casa93.png" alt="">
					<div class="work-text-content">
						<h3>Casa93</h3>
						<p> Ecole de Mode à visée éthique et respectueuse de l&#039;environnement. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
