<section class="page-section clearfix">
		<div class="container">
			<div class="intro" id='avatar'>
				<div>
					<img id='imgRet' class="intro-img img-fluid rounded-circle mb-3 mb-lg-0 rounded" src="http://www.aikoho.fr/storage/tio.png" alt="">
					<p id='tel' class='mb-3' style='color:white;'>tel : 06 37 48 90 47</p>
								</div>
				<div class="intro-text left-0 text-center bg-faded p-5 rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">Description</span>
					</h2>
					<p id='description' class="mb-3">
						Etudiant au Samsung Campus, formation en developpement web et a la Casa93, ecole de Mode, je suis en recherche d&#039;un contrat de professionnalisation pour Octobre 2018. (Work In Progress)
					</p>
										<div class="intro-button mx-auto">
						<a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
					</div>
				</div>
			</div>
		</div>
	</section>
